---
apiVersion: v1
kind: ConfigMap
metadata:
  name: openclaw-config
  namespace: openclaw
  labels:
    app: openclaw-gateway
data:
  openclaw.json: |
    {
      "gateway": {
        "mode": "local",
        "bind": "lan",
        "port": 18789,
        "controlUi": {
          "enabled": true,
          "allowInsecureAuth": false,
          "allowedOrigins": [
            "https://openclaw.styxut.net"
          ]
        },
        "trustedProxies": [
          "127.0.0.1/32",
          "10.0.0.0/8",
          "172.16.0.0/12",
          "192.168.0.0/16",
          "100.64.0.0/10"
        ]
      },
      "models": {
        "providers": {
          "ollama": {
            "baseUrl": "http://arch.home:11434/v1",
            "apiKey": "ollama-local",
            "api": "openai-responses",
            "models": [
              {
                "id": "gpt-oss:20b",
                "name": "gpt-oss:20b",
                "input": [
                  "text"
                ],
                "cost": {
                  "input": 0,
                  "output": 0,
                  "cacheRead": 0,
                  "cacheWrite": 0
                }
              },
              {
                "id": "qwen3-coder:30b-ctx80K",
                "name": "qwen3-coder:30b-ctx80K",
                "reasoning": true,
                "input": [
                  "text"
                ],
                "cost": {
                  "input": 0,
                  "output": 0,
                  "cacheRead": 0,
                  "cacheWrite": 0
                },
                "contextWindow": 128000,
                "maxTokens": 81920
              }
            ]
          }
        }
      },
      "agents": {
        "defaults": {
          "model": {
            "primary": "ollama/gpt-oss:20b"
          },
          "sandbox": {
            "mode": "off"
          }
        }
      },
      "tools": {
        "profile": "coding",
        "allow": [
          "exec"
        ],
        "deny": [
          "group:web",
          "browser"
        ],
        "elevated": {
          "enabled": true,
          "allowFrom": {
            "telegram": [
              "8371946443"
            ]
          }
        }
      },
      "channels": {
        "telegram": {
          "enabled": true,
          "streamMode": "partial"
        }
      },
      "skills": {
        "allowBundled": [
          "gog",
          "telegram",
          "gh"
        ],
        "entries": {
          "gog": {
            "enabled": true
          },
          "telegram": {
            "enabled": true
          },
          "gh": {
            "enabled": true
          }
        }
      }
    }
